<app-toolbar></app-toolbar>

<div class="container">
  <form (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="center">
        <mat-form-field class="nom">
          <input [(ngModel)]="animals.name" matInput name="nom" placeholder="Nom" required>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="center">
        <mat-radio-group [(ngModel)]="animals.types" name="types">
          <mat-radio-button value="Chat">Chat</mat-radio-button>
          <mat-radio-button value="Chien">Chien</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="center">
        <mat-form-field>
          <mat-label>Refuge :</mat-label>
          <mat-select [(ngModel)]="animals.sda" name="sda">
            <mat-option *ngFor="let sda of sdaList" [value]="sda">
              {{sda.id}} - {{sda.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="center">
        <button color="primary" mat-raised-button type="submit">Ajouter</button>
      </div>
    </div>

  </form>
</div>
