<div class="mat-elevation-z8" id="tab">
  <table [dataSource]="dataSource" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let ani" mat-cell>{{ani.id}}</td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th *matHeaderCellDef mat-header-cell> Nom</th>
      <td *matCellDef="let ani" mat-cell>{{ani.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="types">
      <th *matHeaderCellDef mat-header-cell> Type</th>
      <td *matCellDef="let ani" mat-cell>{{ani.types}}</td>
    </ng-container>

    <ng-container matColumnDef="adopte">
      <th *matHeaderCellDef mat-header-cell> Adopté ?</th>
      <td *matCellDef="let ani" mat-cell>{{ani.adopte ? 'oui' : 'non'}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell> Action</th>
      <td *matCellDef="let ani" mat-cell>

        <a mat-flat-button routerLink="."><mat-icon title="Modifier">edit</mat-icon></a>
        <button (click)="SupprimerAnimaux(ani.id)" mat-flat-button>
          <mat-icon title="Supprimer">delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedcolumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedcolumns;" mat-row></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>











