<app-toolbar></app-toolbar>

<div class="container">
  <form (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="center">
        <mat-form-field>
          <mat-label>Animaux :</mat-label>
          <mat-select [(ngModel)]="animals" name="animals">
            <mat-option *ngFor="let animals of animalsList" [value]="animals">
              {{animals.name}} - {{animals.types}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="center">
        <mat-form-field>
          <mat-label>Choisir un adoptant :</mat-label>
          <mat-select [(ngModel)]="animals.carer" name="users">
            <mat-option *ngFor="let users of usersList" [value]="users">
              {{users.id}} - {{users.lastname + ' ' + users.firstname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="center">
        <button color="primary" mat-raised-button type="submit">Procéder à l'adoption</button>
      </div>
    </div>

  </form>
</div>


