
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; background-color: #303030 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: white;
  margin: 0 1% 0 1%;
}

a:hover, button:hover{
  color: #303030;
  text-decoration: none;
}




